/* Custom Properties */
:root {
  /*Layout Colors*/
  --primary: #B5A1E5;
  --on-primary: #100E17;
  --background: #131214;
  --on-background: #EAE6F2;
  --surface: #1D1C1F;
  --on-surface: #e5dae0;
  --on-surface-variant: #7B7980;
  --on-surface-variant-2: #B9B6BF;
  --outline: #3E3D40;
  --white: hsl(0, 0%, 100%);
  --white-alpha-4: hsla(0, 0%, 100%, 0.04);
  --white-alpha-8: hsla(0, 0%, 100%, 0.08);
  --black-alpha-10: hsla(0, 0%, 0%, 0.1);
  /*AQI Colors */
  --bg-aqi-1: #89E589;
  --on-bg-aqi-1: #1F331F;
  --bg-aqi-2: #E5DD89;
  --on-bg-aqi-2: #33311F;
  --bg-aqi-3: #E5C089;
  --on-bg-aqi-3: #332B1F;
  --bg-aqi-4: #E58989;
  --on-bg-aqi-4: #331F1F;
  --bg-aqi-5: #E589B7;
  --on-bg-aqi-5: #331F29;
  /*Gradient Colors*/
  --gradient-1: linear-gradient(180deg, hsla(270, 5%, 7%, 0) 0%, hsla(270, 5%, 7%, 0.8) 65%, hsl(270, 5%, 7%) 100%);
  --gradient-2: linear-gradient(180deg, hsla(260, 5%, 12%, 0) 0%, hsla(260, 5%, 12%, 0.8) 65%, hsl(260, 5%, 12%) 100%);
  /*Typography*/
  --ff-nunito-sans: "Nunito", sans-serif, Arial, Helvetica;
  --heading: 5.6rem;
  --title-1: 2rem;
  --title-2: 1.8rem;
  --title-3: 1.6rem;
  --body-1: 2.2rem;
  --body-2: 2rem;
  --body-3: 1.6rem;
  --label-1: 1.4rem;
  --label-2: 1.2rem;
  --weight-regular: 400;
  --weight-semiBold: 600;
  /*Shadow*/
  --shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
  --shadow-2: 0px 3px 6px hsla(0, 0%, 0%, 0.4);
  /*Border Radius*/
  --radius-28: 28px;
  --radius-16: 16px;
  --radius-pill: 500px;
  --radius-circle: 50%;
  /*Transition*/
  --transition-short: 100ms ease;
}

@media (min-width: 1200px) {
  :root {
    /* font size */
    --heading: 8rem;
    --title-2: 2rem;
  }
}
/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

abbr {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

input,
button {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
  font-size: inherit;
}

sub {
  vertical-align: baseline;
}

sup {
  vertical-align: top;
}

sub, sup {
  font-size: 0.75em;
}

html {
  font-family: var(--ff-nunito-sans);
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--background);
  color: var(--on-background);
  font-size: var(--body-3);
  overflow-x: hidden;
  overflow-y: auto;
}

:focus-visible {
  outline: 2px solid var(--white);
  outline-offset: 2px;
}

::-moz-selection {
  background-color: var(--white-alpha-8);
}

::selection {
  background-color: var(--white-alpha-8);
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--white-alpha-8);
  border-radius: var(--radius-pill);
}

/* Material icons */
@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-symbol-rounded.woff2) format("woff2");
}
.material-icon {
  font-family: "Material Symbols Rounded";
  font-size: 2.4rem;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  height: 1em;
  width: 1em;
  overflow: hidden;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

/* Reused style */
.container {
  max-width: 100em;
  width: 100%;
  margin-inline: auto;
  padding: 1em;
}
@media (min-width: 768px) {
  .container {
    padding: 1.5em;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 2.5em;
  }
}

@media (min-width: 768px) {
  .section__title {
    margin-block-end: 1em;
  }
}

.section:not(:last-child) {
  margin-block-end: 1em;
}
@media (min-width: 768px) {
  .section:not(:last-child) {
    margin-block: 1.25em;
  }
}

.icon-btn {
  background-color: var(--white-alpha-8);
  width: 3em;
  height: 3em;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
}

.has-state {
  position: relative;
  transition: var(--transition-short);
}
.has-state:hover {
  box-shadow: var(--shadow-1);
}
.has-state:is(:focus, :focus-visible) {
  box-shadow: none;
}
.has-state::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  clip-path: circle(100% at 50% 50%);
  -webkit-clip-path: circle(100% at 50% 50%);
  transition: var(--transition-short);
}
.has-state:hover::before {
  background-color: var(--white-alpha-4);
}
.has-state:is(:focus, :focus-visible)::before {
  background-color: var(--white-alpha-8);
  animation: ripple 250ms ease forwards;
}

@keyframes ripple {
  0% {
    clip-path: circle(0% at 50% 50%);
    -webkit-clip-path: circle(0% at 50% 50%);
  }
  100% {
    clip-path: circle(100% at 50% 50%);
    -webkit-clip-path: circle(100% at 50% 50%);
  }
}
.btn-primary {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-inline: 1em;
  height: 3em;
  line-height: 3em;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: var(--radius-pill);
  background-color: var(--primary);
  color: var(--on-primary);
}
.btn-primary__text {
  font-weight: var(--weight-semiBold);
}
.btn-primary[disabled] {
  background-color: var(--outline);
  color: var(--on-surface-variant);
  cursor: not-allowed;
}
.btn-primary[disabled]::before {
  display: none;
}

.card {
  background-color: var(--surface);
  color: var(--on-surface);
}
.card--lg {
  border-radius: var(--radius-28);
  padding: 1.25em;
}
@media (min-width: 768px) {
  .card--lg {
    padding: 1.5em;
  }
}
@media (min-width: 1200px) {
  .card--lg {
    padding: 2.25em;
  }
}
.card--sm {
  padding: 1em;
  border-radius: var(--radius-16);
}
@media (min-width: 768px) {
  .card--sm {
    padding: 1.25em;
    display: grid;
    grid-template-rows: min-content 1fr;
  }
}
@media (min-width: 1200px) {
  .card--sm {
    padding: 1.5em;
  }
}

.heading {
  color: var(--white);
  font-size: var(--heading);
  line-height: 1.1;
}

.title--1 {
  font-size: var(--title-1);
}
@media (min-width: 1200px) {
  .title--1 {
    --title-1: 3.6rem;
  }
}
.title--2 {
  font-size: var(--title-2);
  margin-bottom: 0.6em;
}
.title--3 {
  font-size: var(--title-3);
  font-weight: var(--weight-semiBold);
}

.body--1 {
  font-size: var(--body-1);
}
.body--2 {
  font-size: var(--title-2);
  font-weight: var(--weight-semiBold);
}
.body--3 {
  font-size: var(--body-3);
}

.label--1 {
  font-size: var(--label-1);
}
.label--2 {
  font-size: var(--label-2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  -webkit-clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (min-width: 768px) {
  .badge {
    top: 20px;
    right: 20px;
  }
}

@media (min-width: 768px) {
  .title-1 {
    --title-1: 2.4rem;
  }
}
@media (min-width: 1200px) {
  .title-1 {
    --title-1: 3.6rem;
  }
}

/* Header */
.header {
  /* header__search */
  /* header__search -> header__search-wrapper */
  /* header__search -> header__search-result */
  /* Header actions */
}
@media (min-width: 1200px) {
  .header {
    position: relative;
    height: 7.5em;
    z-index: 5;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .header__container {
    padding-block: 0;
    height: 100%;
  }
}
.header__logo {
  width: clamp(15rem, 15%, 30rem);
}
.header__search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background-color: var(--surface);
  color: var(--on-surface);
  clip-path: circle(1.5em at calc(100% - 1em - 3em - 1em - 1.5em) 2.5em);
  -webkit-clip-path: circle(1.5em at calc(100% - 1em - 3em - 1em - 1.5em) 2.5em);
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  transition: -webkit-clip-path 500ms ease;
  transition: clip-path 500ms ease;
  transition: clip-path 500ms ease, -webkit-clip-path 500ms ease;
}
@media (min-width: 768px) {
  .header__search {
    clip-path: circle(1.5em at calc(100% - 1.5em - 12.375em - 1.5em - 1.5em) 3em);
    -webkit-clip-path: circle(1.5em at calc(100% - 1.5em - 12.375em - 1.5em - 1.5em) 3em);
  }
}
.header__search--active {
  opacity: 1;
  visibility: visible;
  clip-path: circle(130% at calc(100% - 2em - 4.5em) 5%);
  -webkit-clip-path: circle(130% at calc(100% - 2em - 4.5em) 5%);
}
@media (min-width: 1200px) {
  .header__search, .header__search--active {
    all: unset;
    display: block;
    position: relative;
    width: 31.25em;
    animation: none;
    -webkit-animation: none;
  }
  .header__search:is(:hover, :has(.header__search-list):hover) {
    filter: drop-shadow(var(--shadow-1));
    -webkit-filter: drop-shadow(var(--shadow-1));
  }
  .header__search:is(:focus-within, :has(.header__search-list):focus-within) {
    filter: drop-shadow(var(--shadow-2));
    -webkit-filter: drop-shadow(var(--shadow-2));
  }
}
.header__search-wrapper {
  position: relative;
  border-block-end: 1px solid var(--outline);
}
@media (min-width: 1200px) {
  .header__search-wrapper {
    border-block-end: none;
  }
}
.header__search-search-icon, .header__search-back-btn {
  position: absolute;
  top: 50%;
  left: 1.17em;
  transform: translate(-50%, -50%);
}
@media (min-width: 1200px) {
  .header__search-search-icon {
    display: block;
  }
}
@media (min-width: 1200px) {
  .header__search-back-btn {
    display: none;
  }
}
.header__search-back {
  background-color: transparent;
  box-shadow: none;
}
@media (min-width: 1200px) {
  .header__search-field, .header__search-list {
    background-color: var(--surface);
  }
}
.header__search-field {
  font-size: 1.6rem;
  height: 5em;
  line-height: 5em;
  padding-inline: 3.5em 1em;
  outline: none;
}
.header__search-field::-moz-placeholder {
  color: var(--on-surface-variant-2);
}
.header__search-field::placeholder {
  color: var(--on-surface-variant-2);
}
.header__search-field::-webkit-search-cancel-button {
  display: none;
}
@media (min-width: 1200px) {
  .header__search-field {
    height: 3.5em;
    border-radius: var(--radius-28);
  }
}
.header__search:has(.header__search-result--active):focus-within .header__search-field {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.header::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  width: 2.4rem;
  height: 2.4rem;
  border: 3px solid var(--on-surface);
  border-block-start-color: transparent;
  border-radius: var(--radius-circle);
  animation: loading 500ms linear infinite;
  display: none;
}
.header--searching::after {
  display: block;
}
@media (min-width: 1200px) {
  .header__search-result, .header__search:not(:focus-within) .header__search-result {
    display: none;
  }
  .header__search:focus-within .header__search-result--active {
    display: block;
  }
}
.header__search-list {
  padding-block: 0.5em 1em;
}
@media (min-width: 1200px) {
  .header__search-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 22.5em;
    border-radius: 0 0 var(--radius-28) var(--radius-28);
    overflow-y: auto;
    overflow-y: overlay;
  }
  .header__search-list:empty {
    min-height: 7.5em;
  }
  .header__search-list::-webkit-scrollbar-button {
    height: 1.25em;
  }
}
.header__search-item {
  font-size: 1.6rem;
  position: relative;
  height: 3.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  padding-inline: 1em 1.5em;
}
.header__search-item-icon, .header__search-item-subtitle {
  color: var(--on-surface-variant);
}
.header__search-item-link {
  position: absolute;
  inset: 0;
  box-shadow: none;
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 1em;
}
@media (min-width: 768px) {
  .header__actions {
    gap: 1.5em;
  }
}
@media (min-width: 1200px) {
  .header__search-btn {
    display: none;
  }
}
.header__current-btn {
  padding-inline: 0.75em;
}
@media (min-width: 768px) {
  .header__current-btn {
    padding-inline: 1em 1.5em;
  }
}
.header__btn-text {
  display: none;
  font-weight: var(--weight-semiBold);
}
@media (min-width: 768px) {
  .header__btn-text {
    display: block;
  }
}

@keyframes loading {
  0% {
    transform: translateY(-50%) rotate(0);
  }
  100% {
    transform: translateY(-50%) rotate(1turn);
  }
}
/* main */
.main {
  height: calc(100vh - 5em);
  height: calc(100svh - 5em);
  overflow: hidden;
}
@media (min-width: 768px) {
  .main {
    height: calc(100vh - 6em);
    height: calc(100svh - 6em);
  }
}
@media (min-width: 1200px) {
  .main {
    height: calc(100vh - 7.5em);
    height: calc(100svh - 7.5em);
  }
}
.main__container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 1.25em;
  height: 100%;
  overflow-y: auto;
  overflow-y: overlay;
}
@media (min-width: 768px) {
  .main__container {
    padding-block-start: 0;
    grid-template-columns: 17.5em minmax(0, 1fr);
    align-items: flex-start;
    gap: 1.5em;
  }
}
@media (min-width: 1200px) {
  .main__container {
    grid-template-columns: 22.5em minmax(0, 1fr);
    gap: 2.5em;
  }
}
.main__container::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.main__container:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: var(--white-alpha-8);
}
.main__container::-webkit-scrollbar-button {
  height: 0.625em;
}
.main__container::before {
  content: "";
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5em;
  background-image: var(--gradient-1);
  pointer-events: none;
  z-index: 1;
}

/* main/left-content */
@media (min-width: 768px) {
  .main__left-content {
    position: sticky;
    top: 0;
  }
}

/* main/left-content/current-weather */
.current-weather__temp-wrapper {
  margin-block: 0.75em;
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.current-weather__icon {
  margin-inline: auto;
}
@media (min-width: 1200px) {
  .current-weather__icon {
    width: 5em;
  }
}
.current-weather__description {
  text-transform: capitalize;
}
.current-weather__meta-list {
  margin-block-start: 1em;
  padding-block-start: 1em;
  border-block-start: 1px solid var(--outline);
}
.current-weather__meta-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.current-weather__meta-item:not(:last-child) {
  margin-block-end: 0.75em;
}
.current-weather__meta-text {
  color: var(--on-surface-variant);
}

/* main/left-content/daily-forecast */
.daily-forecast__item, .daily-forecast__icon-wrapper {
  display: flex;
  align-items: center;
}
.daily-forecast__item:not(:last-child) {
  margin-block-end: 0.75em;
}
@media (min-width: 768px) {
  .daily-forecast__item:not(:last-child) {
    margin-block-end: 1em;
  }
}
.daily-forecast__icon-wrapper {
  gap: 0.5em;
}
.daily-forecast__icon {
  max-width: none;
}
.daily-forecast__temp {
  margin-block-end: 0;
}
@media (min-width: 1200px) {
  .daily-forecast__temp {
    --title-2: 2.2rem;
  }
}
.daily-forecast__date {
  color: var(--on-surface-variant);
  font-weight: var(--weight-semiBold);
  width: 100%;
  text-align: right;
}

/* main/right-content/highlights */
.highlights__list {
  display: grid;
  gap: 1.25em;
}
@media (min-width: 768px) {
  .highlights__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  .highlights__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.highlights-card {
  background-color: var(--black-alpha-10);
  position: relative;
}
@media (min-width: 768px) {
  .highlights-card:nth-child(-n+2) {
    grid-column: span 2;
    height: 10em;
  }
  .highlights-card:nth-child(n+3) {
    height: 7.5em;
  }
}
@media (min-width: 1200px) {
  .highlights-card:nth-child(-n+2) {
    height: 12.5em;
  }
  .highlights-card:nth-child(n+3) {
    height: 9.375em;
  }
}
.highlights-card__title {
  color: var(--on-surface-variant);
  margin-block-end: 1.25em;
}
.highlights-card__wrapper, .highlights-card__list, .highlights-card__item {
  display: flex;
  align-items: center;
}
.highlights-card__wrapper {
  justify-content: space-between;
  gap: 1em;
}
.highlights-card__icon {
  font-size: 3.2rem;
}
@media (min-width: 768px) {
  .highlights-card__icon {
    font-size: 3.6rem;
  }
}
@media (min-width: 1200px) {
  .highlights-card__icon {
    font-size: 4.8rem;
  }
}
.highlights-card__list {
  flex-wrap: wrap;
  flex-grow: 1;
  row-gap: 0.5em;
}
.highlights-card__item {
  width: 50%;
  justify-content: flex-end;
  gap: 0.25em;
}
@media (min-width: 768px) {
  .highlights-card__item--aqi {
    width: 25%;
    flex-direction: column-reverse;
    gap: 0.5em;
  }
}
.highlights-card__label {
  color: var(--on-suface-variant);
}

.badge {
  position: absolute;
  top: 1.43em;
  right: 1.43em;
  padding: 0.14em 0.86em;
  border-radius: var(--radius-pill);
  -webkit-border-radius: var(--radius-pill);
  -moz-border-radius: var(--radius-pill);
  -ms-border-radius: var(--radius-pill);
  -o-border-radius: var(--radius-pill);
  font-weight: var(--weight-semiBold);
  cursor: help;
}
.badge--aqi-1 {
  background-color: var(--bg-aqi-1);
  color: var(--on-bg-aqi-1);
}
.badge--aqi-2 {
  background-color: var(--bg-aqi-2);
  color: var(--on-bg-aqi-2);
}
.badge--aqi-3 {
  background-color: var(--bg-aqi-3);
  color: var(--on-bg-aqi-3);
}
.badge--aqi-4 {
  background-color: var(--bg-aqi-4);
  color: var(--on-bg-aqi-4);
}
.badge--aqi-5 {
  background-color: var(--bg-aqi-5);
  color: var(--on-bg-aqi-5);
}

.twilight {
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5em 1em;
}
.twilight__label {
  margin-block-end: 0.25em;
}
@media (min-width: 1200px) {
  .twilight {
    -moz-column-gap: 1.5em;
    column-gap: 1.5em;
  }
}

/* Main/Right-Content/Hourly-Forecast */
.hourly-forecast__container {
  overflow-x: auto;
  margin-inline: -1em;
}
@media (min-width: 768px) {
  .hourly-forecast__container {
    margin-inline: 0 -1.5em;
    border-bottom-left-radius: var(--radius-16);
    border-top-left-radius: var(--radius-16);
  }
}

.hourly-forecast__container::-webkit-scrollbar {
  display: none;
}

.hourly-forecast__list {
  display: flex;
  gap: 0.75em;
}
@media (min-width: 768px) {
  .hourly-forecast__list::before {
    display: none;
  }
  .hourly-forecast__list::after {
    min-width: 0.75em;
  }
}

.hourly-forecast__list:first-child {
  margin-block-end: 16px;
}

.hourly-forecast__list::before,
.hourly-forecast__list::after {
  content: "";
  min-width: 4px;
}

.hourly-forecast__item {
  min-width: 110px;
  flex: 1 1 100%;
}

.hourly-forecast__card {
  text-align: center;
}

.hourly-forecast__icon {
  margin-inline: auto;
  margin-block: 12px;
}

@media (min-width: 768px) {
  .hourly-forecast .card--sm {
    padding: 1em;
  }
}

/* Footer */
.footer,
.footer .body-3:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer {
  color: var(--on-surface-variant);
  text-align: center;
  gap: 12px 24px;
  margin-block-start: 28px;
}

.fade-in .footer {
  display: flex;
}

.footer .body-3:last-child {
  gap: 6px;
}

/* Loading */
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  place-items: center;
  z-index: 1;
  display: none;
}

.loading::before {
  content: "";
  width: 48px;
  height: 48px;
  border: 4px solid var(--on-background);
  border-block-start-color: transparent;
  border-radius: var(--radius-circle);
  -webkit-border-radius: var(--radius-circle);
  -moz-border-radius: var(--radius-circle);
  -ms-border-radius: var(--radius-circle);
  -o-border-radius: var(--radius-circle);
  animation: loading 500ms linear infinite;
  -webkit-animation: loading 500ms linear infinite;
}

/* Error Section */
.error-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background-color: var(--background);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 8;
}

.error-content .btn-primary {
  margin-block-start: 20px;
}

@media (min-width: 768px) {
  .hourly-forecast__container {
    margin-inline: 0 -24px;
    border-bottom-left-radius: var(--radius-16);
    border-top-left-radius: var(--radius-16);
  }
  .hourly-forecast__list::before {
    display: none;
  }
  .hourly-forecast__list::after {
    min-width: 12px;
  }
  .hourly-forecast .card--sm {
    padding: 16px;
  }
}/*# sourceMappingURL=style.css.map */